
# Python environment files
venv/
.venv/
__pycache__/
*.pyc

# Local dbt configurations and secrets
target/
dbt_packages/
logs/
dbt_internal_packages/
profiles.yml

# OS/IDE clutter
.DS_Store
.vscode/

